.menu{
    display: flex;
    margin: 10px;
}
.header{
border: solid blueviolet 2px;
height: 12vh;
display: flex;
justify-content: space-between;
align-content: center;
justify-content:space-between;
align-items: ;
}
